@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*'Press Start 2P', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
/*'El Messiri', sans-serif;*/

button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #D5E5F2;
    background-color: #565895;
    border-radius: 6px;
    border: 2px solid black;
    font-family: 'El Messiri', sans-serif;
    margin-left: 1em;
    margin-bottom: 1rem;
}
button:hover{
    background-color: #373761;
    transition: 0.3s ease-in-out;
}

input, textarea{
    font-size: medium;
    font-family: 'El Messiri', sans-serif;
    color: #F2E9E4;
    width: 80%;
    outline: none;
    padding: 10px 10px 10px 5px;
    display: block;
    margin-left: 1rem;
    margin-bottom: 2rem;
    background: #61619D;
    border: 1.5pt solid #F2E9E4;
    border-radius: 30px;
    -webkit-border-radius:2px;
    transition: 0.5s ease-in-out;
}

::placeholder{
    color: #F2E9E4;
}

header{
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    background-color: #2D2D4B;
}

body{
    margin: 0;
    font-family: 'El Messiri', sans-serif;
    font-style: italic;
    background-color: #404279;
}

h1{
    margin: 0;
    padding:0.5rem 0 0.5rem 0.5rem;
    font-size: 150;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
    font-style: unset;
    color: #F2E9E4;
}

mi-footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #373761;
    padding: 15px;
    text-align: center;
}
